$background-color-primary: #f9f9f9;
$header-background-color: #1190cd;
$background-color-secondary: #cecece;
$text-color-primary: #000;
$text-color-secondary: #777;
$text-color-tertiary: #fff;
$hover-color: #2c2fd4;

$font-family-primary: Roboto, 'Open Sans', Helvetica Neue, sans-serif;
$font-size-base: 14px;
$font-size-large: 18px;
$font-size-small: 12px;

$navbar-background-color: #678de4;
$navbar-border-color: $navbar-background-color;

$overlay-background: #000;
$card-bg: #fff;
