body {
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif; }

.search-box {
  display: flex; }

.list-group li,
.card-title {
  text-transform: capitalize; }

.form-group {
  display: flex; }

.project {
  font-size: 16px; }

.overlay {
  width: 100%;
  float: left;
  background: #000;
  height: 2900px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .7; }

.btn {
  margin-right: 5px; }

.search-box {
  display: flex; }

.logo {
  font-size: 24px; }

.nav-brand {
  padding: 10px 15px;
  font-size: 17px; }

.list-group li, .card-title {
  text-transform: capitalize; }

.form-group {
  display: flex; }

.project {
  font-size: 16px; }

.navbar-inverse {
  background-color: #678de4;
  border-color: #678de4; }

.navbar-inverse .navbar-nav > li > a {
  font-weight: 600;
  color: #fff; }

.navbar-inverse .navbar-nav > li > a:hover {
  font-weight: 600;
  color: #2c2fd4; }

.navbar-brand {
  padding: 8px 12px;
  display: flex; }

.navbar-brand img:hover {
  width: 37px;
  height: 37px; }

.navbar-right {
  margin-right: 12px; }

.card {
  box-shadow: 0 0 10px #d4d1d1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem; }

.card img {
  zoom: 2;
  margin: 0 auto;
  width: 96px;
  display: block; }

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem; }

.card-link + .card-link {
  margin-left: 1.25rem; }

div.ball {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #ee1515;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ee1515 41%, #222224 41%, #222224 59%, #f0f0f0 59%, #f0f0f0 59%, #f0f0f0 96%, #f0f0f0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ee1515 41%, #222224 41%, #222224 59%, #f0f0f0 59%, #f0f0f0 59%, #f0f0f0 96%, #f0f0f0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ee1515 41%, #222224 41%, #222224 59%, #f0f0f0 59%, #f0f0f0 59%, #f0f0f0 96%, #f0f0f0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee1515', endColorstr='#f0f0f0',GradientType=0 );
  /* IE6-9  */
  position: absolute;
  top: 50%;
  margin-top: -75px;
  left: 50%;
  margin-left: -75px;
  -webkit-animation: animation-ball 2s infinite;
  /* Chrome, Safari, Opera */
  animation: animation-ball 2s infinite;
  animation-timing-function: ease-in; }

div.ball:before {
  content: '';
  height: 46px;
  width: 46px;
  background: #222224;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-top: -23px;
  margin-left: -23px; }

div.ball:after {
  content: '';
  background: #f0f0f0;
  height: 31px;
  width: 31px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px; }

@keyframes animation-ball {
  0% {
    transform: rotate(0deg);
    left: 50%; }
  25% {
    transform: rotate(-75deg);
    left: 25%; }
  75% {
    transform: rotate(75deg);
    left: 75%; }
  100% {
    transform: rotate(0deg);
    left: 50%; } }

.overlay {
  width: 100%;
  float: left;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .7; }

.App-logo {
  position: absolute;
  top: 64px;
  left: 70px;
  width: 40px;
  height: 40px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 11s linear infinite;
  -moz-animation: spin 11s linear infinite;
  animation: spin 11s linear infinite; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
